<footer class="footer">
          <big>
          <a href="#">SmartCoach</a>
          </big>
          <nav>
          <ul>
          <li> <a href="#">Privacy Policy</a></li>
          <li> <a href="#">Terms & Conditions</a></li>
          </ul>
          </nav>
</footer>

