<div class="navbar navbar-fixed-top ds-dragover-1" >
     <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#"><strong class="curr">SmartCoach</strong></a>
          	<div class="navbar-content-1">
          		

	            <ul class="nav pull-right">
	              <li class="active">
	                <a href="#">HOME</a> 
	              </li>
	              <li>
	                <a href="#">ABOUT</a> 
	              </li>
	              
	              <li>
	                <a href="#">FAQ</a> 
	              </li>
	              <li>
	                <a href="#">SIGN IN</a> 
	              </li>
	              <li>
	                <a href="#">SIGN UP</a> 
	              </li>
	            </ul>
	        </div>
        </div>
    </div>
</div>